<div class="row">
	<div class="col-md-6 col-sm-8 col-xs-8 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">
		<p class="lead">Dog Information Form</p>
		<div class="well">
			<p>Dogs representing CCC are <u>required</u> to obtain an American Kennel Club (AKC) Canine Good Citizen Certificate.  Please refer to the <a href="http://www.akc.org/dog-owners/training/canine-good-citizen/">AKC Website</a> for more information on the requirements and how to obtain this certificate.  CCC also encourages handlers to strive toward AKC's Community Canine Certificate.  Many pet stores (such as PetSmart and Petco) offer AKC testing at very reasonable rates.</p>
			<p>CCC <u>requires</u> a current Health Certificate to be completed prior to volunteering.  This Health Certificate needs to be updated annually by the dog's veteranarian.  The Health Certificate form is located <a href="#">here</a>, and is also available on the main forms page of the site.</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-sm-10 col-xs-10 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
		<form>
			<div class="form-group">
				<label for="dogName">Dog's Name</label>
				<input type="text" class="form-control" id="dogName" ng-bind="dogInfo.dogName" placeholder="Name" />
			</div>
		</form>
	</div>
</div>