<div class="row">
	<div class="col-md-6 col-sm-8 col-xs-8 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">
		<p class="lead">Dog Information Form</p>
		<div class="well">
			<p>Dogs representing CCC are <u>required</u> to obtain an American Kennel Club (AKC) Canine Good Citizen Certificate.  Please refer to the <a href="http://www.akc.org/dog-owners/training/canine-good-citizen/">AKC Website</a> for more information on the requirements and how to obtain this certificate.  CCC also encourages handlers to strive toward AKC's Community Canine Certificate.  Many pet stores (such as PetSmart and Petco) offer AKC testing at very reasonable rates.</p>
			<p>CCC <u>requires</u> a current Health Certificate to be completed prior to volunteering.  This Health Certificate needs to be updated annually by the dog's veteranarian.  The Health Certificate form is located <a href="#">here</a>, and is also available on the main forms page of the site.</p>
		</div>
	</div>
</div>
<div class="row hidden-xs hidden-sm" style="margin-bottom:40px;">
	<div class="col-md-8 col-lg-8 col-md-offset-3 col-lg-offset-3">
		<p class="lead" style="margin-bottom:10px;">Looking to update your dog's information with us?  Provide the information below and we will attempt to look up your information.</p>
		<form class="form-inline">
			<div class="form-group">
				<label>Email Address</label>
				<input type="email" class="form-control" ng-model="userInfo.email" placeholder="Email" />
			</div>
			<div class="form-group" style="margin-left: 10px;">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="userInfo.password" placeholder="Password" />
			</div>
			<button type="submit" class="btn btn-primary" ng-click="dogInfoLogin()">Log In</button>
			<button type="reset" class="btn btn-warning">Cancel</button>
		</form>
	</div>
</div>
<div class="row hidden-xs hidden-sm">
	<div class="col-md-8 col-lg-8 col-md-offset-3 col-lg-offset-3">
		<form class="form">
			<div class="row">
				<div class="col-md-5 col-lg-5">
					<p class="lead">About your dog</p>
					<div class="form-group">
						<label>Dog's Name</label>
						<input type="text" class="form-control" placeholder="Name" ng-model="dogInfo.name"/>
					</div>
					<div class="form-group">
						<label>Dog's Breed</label>
						<input type="text" class="form-control" placeholder="Breed" ng-model="dogInfo.breed" />
					</div>
					<div class="form-group">
						<label>Dog's Gender</label><br />
						<div class="radio-inline">
							<input type="radio" name="gendersRadios" value="male" ng-model="dogInfo.gender" />Male
						</div>
						<div class="radio-inline">
							<input type="radio" name="gendersRadios" value="female" ng-model="dogInfo.gender" />Female
						</div>
					</div>
					<div class="form-group" ng-show="(dogInfo.gender == 'male')">
						<label>Has he been neutered?</label>
						<div class="radio-inline">
							<input type="radio" name="fixedRadios" ng-value="true" ng-model="dogInfo.hasbeenFixed" />Yes
						</div>
						<div class="radio-inline">
							<input type="radio" name="fixedRadios" ng-value="false" ng-model="dogInfo.hasbeenFixed" />No
						</div>
					</div>
					<div class="form-group" ng-show="(dogInfo.gender == 'female')">
						<label>Has she been spayed?</label>
						<div class="radio-inline">
							<input type="radio" name="fixedRadios" ng-value="true" ng-model="dogInfo.hasbeenFixed" />Yes
						</div>
						<div class="radio-inline">
							<input type="radio" name="fixedRadios" ng-value="false" ng-model="dogInfo.hasbeenFixed" />No
						</div>
					</div>
					<div class="form-group">
						<label>Age</label>
						<input type="number" class="form-control" ng-model="dogInfo.age" placeholder="Age" />
					</div>
					<div class="form-group">
						<label>Weight</label>
						<input type="number" class="form-control" placeholder="Weight" ng-model="dogInfo.weight" />
					</div>
					<div class="form-group">
						<label>Colors</label>
						<input type="text" class="form-control" placeholder="Colors" ng-model="dogInfo.colors" />
					</div>
					<hr />
					<p>Your Dog's Experiences</p>
					<div class="form-group">
						<label>Please describe any training/certifications your dog has recieved</label>
						<textarea class="form-control" rows="3" ng-model="dogInfo.certifications"></textarea>
					</div>
					<div class="form-group">
						<label>How much experience does your dog have in public settings or crowds?</label>
						<textarea class="form-control" rows="2" ng-model="dogInfo.experience.publicSettings"></textarea>
					</div>
					<div class="form-group">
						<label>How much experience does your dog have with young children?</label>
						<textarea class="form-control" rows="2" ng-model="dogInfo.experience.children"></textarea>
					</div>
					<div class="form-group">
						<label>How much experience does your dog have with elderly, frail, handicapped, and special needs people?</label>
						<textarea class="form-control" rows="2" ng-model="dogInfo.experience.specialNeeds"></textarea>
					</div>
					<div class="form-group">
						<label>Does your dog get along with and act calmly around other dogs when appropriate?</label>
						<div class="radio-inline">
							<input type="radio" name="otherDogsRadios" ng-value="true" ng-model="dogInfo.otherDogs.goodWithOtherDogs" />Yes
						</div>
						<div class="radio-inline">
							<input type="radio" name="otherDogsRadios" ng-value="false" ng-model="dogInfo.otherDogs.goodWithOtherDogs" />No
						</div>
						<div class="form-group">
							<label>Please describe</label>
							<textarea class="form-control" rows="2" ng-model="dogInfo.otherDogs.explain"></textarea>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<p class="lead">Veteranarian's Information</p>
					<div class="form-group">
						<label>Name of Primary Veteranarian</label>
						<input type="text" class="form-control" placeholder="Vet's Name" ng-model="dogInfo.vetInfo.name" />
					</div>
					<div class="form-group">
						<label>Primary Veteranarian's Address</label>
						<input type="text" class="form-control" placeholder="Address" ng-model="dogInfo.vetInfo.address" />
					</div>
					<div class="form-group">
						<label>Primary Veteranarian's Phone Number</label>
						<input type="text" class="form-control" placeholder="Phone Number" ng-model="dogInfo.vetInfo.phoneNumber" />
					</div>
					<hr />
					<p class="lead">Your Dog's Health</p>
					<div class="form-group">
						<label>Does your dog have any health issues?</label>
						<span class="help-block">Answering yes does not automatically disqualify your dog from participating in this ministry.  We would like this information in order to best utilize your dog by avoiding putting them into an unsafe or uncomfortable environment.</span>
						<div class="radio-inline">
							<input type="radio" name="healthIssuesRadios" ng-value="true" ng-model="dogInfo.healthIssues.hasHealthIssues" />Yes
						</div>
						<div class="radio-inline">
							<input type="radio" name="healthIssuesRadios" ng-value="false" ng-model="dogInfo.healthIssues.hasHealthIssues" />No
						</div>
						<div class="form-group" ng-show="(dogInfo.healthIssues.hasHealthIssues)">
							<label>Please describe your dog's health issues.</label>
							<textarea class="form-control" rows="3" ng-model="dogInfo.healthIssues.explain"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label>Is your dog up to date on all vaccinations?</label>
						<span class="help-block">CCC requires all dogs to be up-to-date on vaccinations, both for the safety and health of the dogs and the safety and health of the people and other dogs that will be interacting with the CCC dogs.  If your dog's vaccinations are not all up to date, please visit your primary veteranarian.</span>
						<div class="radio-inline">
							<input type="radio" name="vaccinationsRadios" ng-value="true" ng-model="dogInfo.healthIssues.vaccinationsUpToDate" />Yes
						</div>
						<div class="radio-inline">
							<input type="radio" name="vaccinationsRadios" ng-value="false" ng-model="dogInfo.healthIssues.vaccinationsUpToDate" />No
						</div>
					</div>
					<div class="form-group">
						<label>Which preventative medications do you administer to your dog?</label>
						<div class="checkbox-inline">
							<input type="checkbox" ng-model="dogInfo.preventativeMeds.flea" />Flea Treatment (monthly)
						</div> <br />
						<div class="checkbox-inline">
							<input type="checkbox" ng-model="dogInfo.preventativeMeds.tick" />Tick Treatment (monthly)
						</div> <br />
						<div class="checkbox-inline">
							<input type="checkbox" ng-model="dogInfo.preventativeMeds.heartWorm" />Heart Worm Treatment (monthly)
						</div><br />
						<div class="checkbox-inline">
							<input type="checkbox" ng-model="dogInfo.preventativeMeds.other" />Other
						</div>
						<input type="text" placeholder="Other Treatments" ng-model="dogInfo.preventativeMeds.otherExplain"
							ng-show="(dogInfo.preventativeMeds.other)" />
					</div>
					<div class="form-group">
						<p class="lead">Medical Certificate</p>
						<span class="help-text">CCC requires that a medical certificate be on file for ALL dogs utilized as a part of this ministry.  This medical certificate ensures us that your dog has had its yearly vet visit and all vaccinations are up to date.  We require this certificate to be filled out and sent to us annually.<br />
						The medical certificate can be found <a href="#/ministry/forms">on our forms page</a> and is available as a PDF.  Please take this to your vet and have them fill it out and sign it.  You can then scan and email it to us for our records.</span>
						<label>Your dog will not be able to be utilized by our ministry until we have this certificate on file.</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9 col-lg-9">
					<p class="text-center bg-danger"><b>Clicking the "submit" button below indicates that you have read our bylaws and rules, and that you agree to adhere to them.  In addition, it indicates to us that the information that you have provided to us is up-to-date to the best of your knowledge and that if any of this information changes you will inform us at the soonest possible convenience.</b></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">
					<button type="button" class="btn btn-block btn-primary" ng-click="dogInfoSubmit">Submit</button><br />
					<button type="reset" class="btn btn-block btn-warning">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row hidden-md hidden-lg">
	<div class="col-sm-10 col-xs-10 col-sm-offset-1 col-xs-offset-1">
		<p class="lead">For the best experience possible, please fill out this form using a tablet or desktop device.</p>
	</div>
</div>