<div class="row">
	<div class="page-header text-center">
		<h1>Ministry Forms</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
		<p>Looking to volunteer with us?  How about having your dog serve along side of our other dogs in our ministry?  If that's you, welcome!  We're glad that you are interested in partnering with us to spread the gospel of Christ through comfort animals.  However we do need some information from you.  We are going to use this information to gather a picture of your strengths and weaknesses so that we can best utilize you (and your animal) for our ministry needs.</p>
		<p>If you are new with us, we would recommend you start with filling out our <a href="#/ministry/forms/volunteer">new volunteer</a> form to get started.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-xs-8 col-sm-offset-2 col-xs-offset-2 visible-sm-block visible-xs-block">
		<div class="well">
			<p>Currently all of our forms are available on desktop only.  We are working on mobile-optimized forms too, but our dogs are still trying to figure out how to use smartphones.  If you cannot access a desktop computer and need access to our forms, please contact one of the CCC staff by emailing us at <a href="mailto:info@comfortcaninesforchrist.org">info@comfortcaninesforchrist.org</a> and we will send you a paper version of our forms.</p>
		</div>
	</div>
<div class="row">
	<div class="col-md-6 col-sm-8 col-xs-8 col-md-offset-3 col-sm-offset-2 col-xs-offset-2 visible-md-block visible-lg-block">
		<p class="lead">Please select a form below to continue.</p>
		<dl>
			<dt><a href="#/ministry/forms/volunteer">Volunteer Information Form</a></dt>
			<dd class="visible-md-block visible-lg-block">Use this form to provide or update your information with CCC, such as your name, address, and phone number.  We will also ask you for information about your spiritual life, such as your testimony.  <i>If you are new with us, please fill this form out first.</i></dd>
			<dt><a href="#/ministry/forms/addDog">Dog Information Form</a></dt>
			<dd class="visible-md-block visible-lg-block">Would you like to sign up your dog to serve as a comfort animal?  Awesome!  We're glad that you are looking to partner with us on this endeavour.  Please fill out this simple form to give us information about your dog so that we can best utilize them and you.</dd>
			<dd class="visible-md-block visible-lg-block"><i>Please note: you will also need to send us a completed medical certificate form.  A link to this form can be found on this form or by <a href="/assets/docs/vet_certificate.pdf">clicking here</a>.</i></dd>
			<dt><a href="/assets/docs/vet_certificate.pdf" target="_blank">Dog Medical Certificate <small>(PDF)</small></a></dt>
			<dd class="visible-md-block visible-lg-block">At CCC, we care about the health and safety of the dogs we are utilizing as comfort animals.  As their owners, so should you!  We require a standard medical certificate to be signed by the dog's veterinarian annually for both the safety of the dog and the safety of the people coming into contact with the dog.</dd>
			<dd class="visible-md-block visible-lg-block"><i>We will NOT disqualify a dog from serving as one of our comfort animals because of a medical condition unless it places either the people or the dog into danger.  However, we do want to know about any medical conditions the dog may have so that we can avoid putting the dog into an uncomfortable or dangerous situation for them.  Therefore, we are requiring that all handlers have their dogs evaluated by their veteranarian on an annual basis and that the handlers submit an updated medical certificate to us annually.</i></dd>
			<dt>Request an Appearance</dt>
			<dd class="visible-md-block visible-lg-block">Do you know of an organization that may benefit from our dogs?  Please let us know!  Provide us with their information and we will reach out to them if we have any handlers in their area.  We are open to our dogs providing their services in a wide variety of ways with all age groups.</dd> 
	</div>
</div>