<div class="modal-body">
	<h3 class="modal-title">Mission Statement</h3>
	<p>Proclaiming the gospel by reflecting God's unconditional love and compassion purpose by fostering emotional support utilizing specially trained comfort dogs in stressful situations and/or environments such as disaster relief efforts, hospice, hospitals, nursing homes and other appropriate venues suitable for intervention.</p>
	
	<h3 class="modal-title">Vision Statement</h3>
	<p>Comfort dogs create joyful interaction with people in any circumstance and open amenable opportunities to share the gospel.</p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="closeModal()">Close</button>
</div>