<div class="row">
	<h3 class="text-center">About Us</h3>
</div>
<div class="row">
	<div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
		Every organization has their beliefs.  We feel that just having a mission statement is not enough, and we want to share our beliefs with you.  If you have any questions or concerns about our beliefs, please contact us at <a href="mailto:info@comfortcaninesforchrist.org">info@comfortcaninesforchrist.org</a>.
	</div>
</div>
<div class="row">
	<div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
		<tabset>
			<tab heading="What We Believe">
				<p>It's broke.  And you can't fix it.</p>
				<p><strong>Thankfully, God fixed it for you.</strong></p>
				<p>What is "it?"  <strong><u>"It" is mankind's ability to have a relationship with God.</u></strong></p>
				<p>God is Holy and to be in His presence and in a relationship with Him requires our being sinless. God created the heavens
					and earth as well as mankind (Adam and Eve) in perfect holiness. God provided Adam and Eve with everything needed to live
					for eternity – they would live forever in the fellowship of God. Adam and Eve did not have to earn “it.” “It” was freely
					given to them without their being required to earn or work for “it.” Then Adam and Eve broke “it.”</p>
				<p>God fixed “it” by sending his Son, Jesus Christ, to pay the penalty for sin (death) and fixed “it.” Because Jesus Christ
					accepted the penalty for sin on our behalf, mankind was granted a second opportunity to restore our ability to have a relationship
					with God. Mankind has no other pathway to restore the relationship with God.</p>
				<p>A gift, any gift, has to be accepted before one actually has possession of the gift. A birthday present that remains unopened
					and stowed away in a drawer or closet is available for acceptance for the remainder of a person’s life. If the gift is never
					opened, it is forever lost. Only when the gift is opened does one receive the use and benefit of the gift. Salvation is accepting
					the gift that fixed “it.”</p>
				<p><strong>That’s the Gospel – how God fixed “it.”</strong></p>
				<p>Salvation provides for eternal life with God. Obedience to Biblical teachings provides for a healthy Christian life and
					fellowship with God during our earthly life. Christ beautifully summarized all Biblical teaching in just four (4) verses
					of the Bible:</p>
				<p class="lead">“Teacher, which is the great commandment in the law?” Jesus said to him, “‘You shall love the Lord your God with all 	your heart, with all your soul, and with all your mind.’ This is the first and great commandment. And the second is like it: ‘You
					shall love your neighbor as yourself.’ On these two commandments hang all the Law and the Prophets.”</p>
			</tab>
		</tabset>
	</div>
</div>