<div class="row">
	<h3 class="text-center">About Us</h3>
</div>
<div class="row" style="margin-bottom: 20px;">
	<div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
		Every organization has their beliefs.  We feel that just having a mission statement is not enough, and we want to share our beliefs with you.  If you have any questions or concerns about our beliefs, please contact us at <a href="mailto:info@comfortcaninesforchrist.org">info@comfortcaninesforchrist.org</a>.
	</div>
</div>
<div class="row">
	<div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
		<tabset>
			<tab heading="What We Believe">
				<p>It's broke.  And you can't fix it.</p>
				<p><strong>Thankfully, God fixed it for you.</strong></p>
				<p>What is "it?"  <strong><u>"It" is mankind's ability to have a relationship with God.</u></strong></p>
				<p>God is Holy and to be in His presence and in a relationship with Him requires our being sinless. God created the heavens
					and earth as well as mankind (Adam and Eve) in perfect holiness. God provided Adam and Eve with everything needed to live
					for eternity – they would live forever in the fellowship of God. Adam and Eve did not have to earn “it.” “It” was freely
					given to them without their being required to earn or work for “it.” Then Adam and Eve broke “it.”</p>
				<p>God fixed “it” by sending his Son, Jesus Christ, to pay the penalty for sin (death) and fixed “it.” Because Jesus Christ
					accepted the penalty for sin on our behalf, mankind was granted a second opportunity to restore our ability to have a relationship
					with God. Mankind has no other pathway to restore the relationship with God.</p>
				<p>A gift, any gift, has to be accepted before one actually has possession of the gift. A birthday present that remains unopened
					and stowed away in a drawer or closet is available for acceptance for the remainder of a person’s life. If the gift is never
					opened, it is forever lost. Only when the gift is opened does one receive the use and benefit of the gift. Salvation is accepting
					the gift that fixed “it.”</p>
				<p><strong>That’s the Gospel – how God fixed “it.”</strong></p>
				<p>Salvation provides for eternal life with God. Obedience to Biblical teachings provides for a healthy Christian life and
					fellowship with God during our earthly life. Christ beautifully summarized all Biblical teaching in just four (4) verses
					of the Bible:</p>
				<p class="lead">“Teacher, which is the great commandment in the law?” Jesus said to him, “‘You shall love the Lord your God with all 	your heart, with all your soul, and with all your mind.’ This is the first and great commandment. And the second is like it: ‘You
					shall love your neighbor as yourself.’ On these two commandments hang all the Law and the Prophets.”<br /><small>Matthew 22:36-40</small></p>
			</tab>
			<tab heading="Doctrinal Statement">
				<p>Comfort Canines for Christ (CCC) is committed to faithfully upholding the revealed truths of the sixty-six books comprising
					the Old and New Testaments of the Holy Bible. In that spirit, CCC submits the following summary statement of the essential
					teachings of Scripture and the Christian Faith.</p>
				<p>The Holy Bible has absolute authority because it is verbal plenary inspired. Each word was given by God as the Holy Spirit
					guided the authors to write exactly all He sought to express. The Holy Bible, the Word of God, is infallible in the original
					writings and wholly trustworthy and therefore the supreme, unmediated, and final authority of faith and practice for every
					believer.</p>
				<p>The God of Abraham, Yahweh, is the one and only eternal God and the Creator of all the universe. He exists in three distinct
					persons: Father, Son (Jesus Christ), and the Holy Spirit. Jesus Christ is the one and only Son of God who God sent to earth
					becoming flesh through birth by a virgin to reveal God to humanity. Christ lived a sinless life in complete obedience to
					the Father and thusly became the Savior and the only Savior of the lost world. Man was created in the image of God to have
					fellowship with God, but man became alienated in that relationship through sinful disobedience. Man is incapable of regaining
					a harmonious relationship with God through his own effort. The blood of Jesus Christ, shed on the cross, provides the sole
					basis for forgiveness and final atonement of sin and the only means by which man becomes justified and therefore worthy to
					renew a relationship with God. God freely offers salvation to those who place their faith in the death of Jesus Christ which
					is the exclusive sufficient payment for sin. His resurrection restored the spiritual eternal life man lost upon sin entering
					the world. Christians are commanded by the Word of God to live for Christ and not for themselves. By obedient compliance
					to the Word of God and daily yielding to the Spirit of God, every believer should mature and be conformed to the image of
					Christ.</p>
				<p>The church is the body of Christ, of which Jesus Christ is the head. The members of the church are those who have trusted
					by faith the finished work of Christ – His death on the cross and His resurrection from the grave. The purpose of the church
					is to glorify God by loving Him and making Him known to the ends of the four corners of the earth.</p>
				<p><strong>Satan is the originator of sin.</strong></p>
				<p class="lead">For you have said in your heart: ‘I will ascend into heaven, I will exalt my throne above the stars of God; I will 		also sit on the mount of the congregation On the farthest sides of the north; 14I will ascend above the heights of the clouds,
					I will be like the Most High.’
					<br />
					<small>Isaiah 14:13-14</small>
				</p>
				<p>Satan led Adam and Eve and all humans henceforth into transgression. Satan is a usurper in that he illegitimately seized
					and holds power over the earth by force and without legal right. He is the enemy of God and God’s people as he exalts himself
					above God. In his warfare against God, Satan counterfeits the works of God by establishing and nurturing religious movements
					and illicit doctrine, which in all cases are characterized by a denial of the efficacy of the blood of Christ and of salvation
					by grace alone.</p>
			</tab>
		</tabset>
	</div>
</div>