<nav class="navbar navbar-default navbar-fixed-bottom hidden-xs" style="padding: 10px 0">
    <div class="container-fluid">
        <!-- SITE MAP -->
        <div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1">
            <div class="col-md-6 col-sm-6">
                <strong>Useful Links</strong><br />
                <a href="#/mission">Our Mission</a><br />
                <a href="#/about">About Us</a><br />
                <a href="#/media">Media</a><br />
                <a href="#/ministry/forms">Ministry Opportunities</a><br />
                <a href="#/contact">Contact Us</a><br />
            </div>
            <div class="col-md-6 col-sm-6">
                <strong>Our Dogs</strong><br />
                <a href="#/dogs/1">Eve</a><br />
            </div>
        </div>
        <!-- COPYRIGHT INFO -->
        <div class="col-md-4 col-sm-4">
            <p>Comfort Canines for Christ is a non-profit 501c3 ministry whose focus is spreading the gospel through utilizizing comfort
                and service animals. For more information or for ministry opportunities, please contact CCC by using the contact information
                to the right.</p>
            <p>This site and all of its contents are &copy; 2015, Comfort Canines for Christ. If you wish to utilize any of the media on
                this site, please contact Comfort Canines for Christ using the information to the right or by visiting our media page.</p>
        </div>
        <!-- CONTACT INFO -->
        <div class="col-md-3 col-sm-3">
            <address class="text-right">
                <strong>Comfort Canines for Christ</strong>
                <br />Ponchatoula, LA 70454
                <br />
                <!--<abbr title="Phone">P:</abbr>(123)456-7890-->
                <br />
                <a href="mailto:info@comfortcaninesforchrist.org">info@comfortcaninesforchrist.org</a>
            </address>
        </div>
    </div>
</nav>

<nav class="row hidden-xs bg-info navbar-fixed-bottom" style="display:none">
    <div class="col-md-1">
        <!--EMPTY AREA -->
    </div>
    <!-- SITE MAP -->
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                <strong>Useful Links</strong>
                <br />
                <a href="#/mission">Home</a>
                <br />
                <a href="#/about">About Us</a>
                <br />
                <a href="#/media">Media</a>
                <br />
                <a href="#/ministry/forms">Ministry Opportunities</a>
                <br />
                <a href="#/contact">Contact Us</a>
                <br />
            </div>
            <div class="col-md-6 text-center">
                <strong>Our Dogs</strong>
                <br />
                <a href="#/dogs/1">Eve</a>
            </div>
        </div>
    </div>
    <!-- COPYRIGHT INFO -->
    <div class="col-md-4">
        <p>Comfort Canines for Christ is a non-profit 501c3 ministry whose focus is spreading the gospel through utilizizing comfort
            and service animals. For more information or for ministry opportunities, please contact CCC by using the contact information
            to the right.</p>
        <p>This site and all of its contents are &copy; 2015, Comfort Canines for Christ. If you wish to utilize any of the media on
            this site, please contact Comfort Canines for Christ using the information to the right or by visiting our media page.</p>
    </div>
    <!-- CONTACT INFO -->
    <div class="col-md-3">
        <address class="text-right">
            <strong>Comfort Canines for Christ</strong>
            <br />Ponchatoula, LA 70454
            <br />
            <!--<abbr title="Phone">P:</abbr>(123)456-7890-->
            <br />
            <a href="mailto:info@comfortcaninesforchrist.org">info@comfortcaninesforchrist.org</a>
        </address>
    </div>
</nav>