<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p class="lead">Woof woof ruff woof ruff ruff woof ruff woof<br />
		<small>Translation: This part of the site isn't quite done yet</small></p>
		<p>Our website is currently under construction, and many areas are still yet to be complete.  But don't worry!  The dogs are working day and night to bring you the best experience possible.  In the meantime if you would like more information about the dogs and this ministry, please contact us at <a href="mailto:info@comfortcaninesforchrist.org">info@comfortcaninesforchrist.org</a> or visit us at our <a href="">Facebook page</a>.</p>
			
</div>