<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">Comfort Canines for Christ</p>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': isActive('mission')}">
                    <a href="#/mission">Our Mission</a>
                </li>
                <li ng-class="{'active': isActive('about')}">
                    <a href="#/about">About Us</a>
                </li>
                <li ng-class="{'active': isActive('dogs')}">
                    <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Our Dogs <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#/dogs">About Our Dogs</a>
                        </li>
                        <li>
                            <a href="#/dogs">Eve</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a>Check back for more soon!</a>
                        </li>
                    </ul>
            </li>
            <li ng-class="{'active': isActive('media')}">
                <a href="#/media">Media</a>
            </li>
            <li ng-class="{'active': isActive('ministry')}">
                <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Ministry Opportunities<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <!--<li>
                        <a href="#">Ministry Calendar</a>
                    </li>-->
                    <li>
                        <a href="#/ministry/forms">Forms</a>
                    </li>
                    <li>
                        <a href="#/ministry/partners">Ministry Partners</a>
                    </li>
                </ul>    
            </li>
            <li ng-class="{'active': isActive('contact')}">
                <a href="#/contact">Contact Us</a>
            </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>